body {
    padding: 0px;
    margin: 0px;
    border: 2rem;
    border-color: black;
    background-color: skyblue;
}

main {
    margin: 1em;
    padding: 2em;
    border: 10px;
    border-color: black;
}

h1 {
    font-size:xx-large;
    margin: 10px;
    padding: 0px;
    position:relative;
    color: rgb(23, 13, 221);
    background-position: center;
}
h2 {
    margin-top: -50px;
    padding-left:5rem;
    color: rgb(13, 13, 216);
}

h3 {
    color: rgb(22, 165, 222);
    padding: 0px;
}


div {
    color: rgb(23, 14, 7);
    background: fixed;
}

p {
    background-color: rgb(239, 163, 65);
    border-color: blue;
}

